
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
     font-family: Roboto, sans-serif;
}


.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 400px;
    padding-right: 100px;
}

.header-logo {
    font-size: 18px;
    font-weight: bold;
}



.header-link {
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    gap: 40px;
}

.cont-one {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-content: center; */
    /* justify-content: center; */
    /* text-align: center; */
    padding-left: 100px;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    gap: 8px;
    flex-wrap: wrap;
    width: 500px;

}

.bttn-top {
    display: flex;
    text-align: center;
    align-content: center;
}

.subtitle {
    color:white;
    font-size: 36px;
}

.text-sec-one {
    color: white;
    font: 18px;
}

.img-placeholder {
    background-color: gray;
    height: 150px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 50px; */
}


 
button {
    background-color: #3882f6;
    width: 90px;
    color: white;
    align-items: right;
}




img {
    border-radius: 8px;
    width: 200px;
    height: 200px;
    border: 3px solid blue;
}


h3 {
    display: flex;
    text-align:  center;
}


.left-side {
    display: flex;
    justify-content: flex-start;
}

.right-side {
    display: flex;
    justify-content: flex-end;
}

.sec-two {
    background-color: white;
    /* color: white; */
    padding: 8px;
    
}

.image-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 56px;
    padding: 50px;
    width: auto;
}
text {
    font-size: 18px;
    gap: 56px;
}


.sec-three {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    
    

}

.t1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-wrap: wrap;
    
   

}

.t2 {
    display: flex;
    justify-content: flex-end;
    /* text-align: center; */
    font-weight: bold;
}

/* .sec-one.right-side {
    display: flex;
    justify-content: space-evenly;
} */

.info {
    max-width: 200px;
}





.sec-four {
    
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    /* border: 10px solid yellow; */
    width: 1000px;
    height: 200px;
    border-radius: 10px;
    
}

.cont-four {
    background-color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

/* .container {
    background-color: #3882f6;
    height: 100px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 10px solid yellow;
} */

button {
    border:1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.t3 {
    font-weight: bold;
    font-size: 36px;
}

.t4 {
    font-size: 18px;
}